<h3>{{ 'POSTS' | translate }}</h3>

<ul>
  <li *ngFor="let post of (posts$ | async)">
      <h2>{{post.title}}</h2>
      <p>{{'PUBLISHED' | translate}}: {{post.published_date | date: 'short'}}</p>
      <p Markdown>{{post.content}}</p>
  </li>
</ul>

<!--<p>{{'ABOUT_SAY' | translate}}</p>

<form (submit)="addComment()">
  <textarea [(ngModel)]="newComment" name="newComment" [placeholder]="'INPUT_HINT' | translate"></textarea>
  <button type="submit">{{'SAY_BTN_TEXT' | translate}}</button>
</form>

<ul>
  <li *ngFor="let comment of (guestbook$ | async)">{{comment.content}}</li>
</ul>-->
