<p>After a few years in the software industry, as a web application developer, I've decided to pursue my studies at Cal Poly Pomona as a Master student. I have interest in solving open problems and improving existing systems by utilizing my experience and knowledge of cross-platform frameworks and web services.</p>

<div style="float:left; margin-right: 20px" class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="michael-tran-97210a29">
  <a class="LI-simple-link" href='https://www.linkedin.com/in/michael-tran-97210a29?trk=profile-badge'>Linkedin Profile</a>
</div>

<div style="float:left" id="github-card" data-username="psychobolt" data-max-repos="2" data-sort-by="updateTime" data-header-text="Last Update"></div>
